<h1>{{ title }}</h1>

<h2>Media</h2>
<button class="button-media" data-key="mediaStop">Stop</button>
<button class="button-media" data-key="mediaPlay">Play</button>
<button class="button-media" data-key="mediaPause">Pause</button>
<button class="button-media" data-key="mediaNext">Next</button>
<button class="button-media" data-key="mediaPrev">Prev</button>

<script src="/javascripts/controls.js"></script>
