<h1>{{ title }}</h1>

<h2>OS</h2>
<button class="button-media" data-key="osUp">Up</button>
<button class="button-media" data-key="osDown">Down</button>
<button class="button-media" data-key="osLeft">Left</button>
<button class="button-media" data-key="osRight">Right</button>
<button class="button-media" data-key="osEnter">Enter</button>
<button class="button-media" data-key="osEscape">Escape</button>
<button class="button-media" data-key="osCommand">Command</button>
<button class="button-media" data-key="osAltF4" disabled>Alt+F4</button>

<h2>Media</h2>
<button class="button-media" data-key="mediaStop">Stop</button>
<button class="button-media" data-key="mediaPlay">Play</button>
<button class="button-media" data-key="mediaPause">Pause</button>
<button class="button-media" data-key="mediaNext">Next</button>
<button class="button-media" data-key="mediaPrev">Prev</button>

<h2>VLC</h2>
<button class="button-media" data-key="vlcBackwardsShort">Backwards short jump</button>
<button class="button-media" data-key="vlcForwardShort">Forward short jump</button>
<button class="button-media" data-key="vlcBackwardsMedium">Backwards medium jump</button>
<button class="button-media" data-key="vlcForwardMedium">Forward medium jump</button>
<button class="button-media" data-key="vlcSubtitleNext">Change subtitle</button>
<button class="button-media" data-key="vlcAudioNext">Change audiotrack</button>
<button class="button-media" data-key="vlcFullscreen">Toggle fullscreen</button>

<h2>Mouse</h2>
<div class="mouse-panel-wrapper">
    <div class="mouse-panel"></div>
</div>

<style>
    .mouse-panel-wrapper {
        width: 500px;
        max-width: 100%;
    }

    .mouse-panel {
        width: 100%;
        padding-bottom: 100%;
        border: 1px solid #000;
    }
</style>

<h2>Files</h2>
<div class="files-panel-wrapper">
    <button class="files-button-back">Back</button>
    <button class="files-button-home">Home</button>
    <button class="files-button-refresh">Refresh</button>
    <div class="files-panel"></div>
</div>

<style>
    .files-panel {
        max-width: 500px;
    }

    .files-item {
        padding: 10px;
        border: 1px solid #000;
        word-break: break-all;
    }

    .files-item:before {
        content: '📄 ';
    }

    .files-item.isDir:before {
        content: '📁 ';
    }
</style>

<script src="/javascripts/controls.js"></script>
