<h1>{{ title }}</h1>

<h2>Media</h2>
<button class="button-media" data-key="mediaStop">Stop</button>
<button class="button-media" data-key="mediaPlay">Play</button>
<button class="button-media" data-key="mediaPause">Pause</button>
<button class="button-media" data-key="mediaNext">Next</button>
<button class="button-media" data-key="mediaPrev">Prev</button>

<h2>VLC</h2>
<button class="button-media" data-key="vlcBackwardsShort">Backwards short jump</button>
<button class="button-media" data-key="vlcForwardShort">Forward short jump</button>
<button class="button-media" data-key="vlcBackwardsMedium">Backwards medium jump</button>
<button class="button-media" data-key="vlcForwardMedium">Forward medium jump</button>
<button class="button-media" data-key="vlcSubtitleNext">Change subtitle</button>
<button class="button-media" data-key="vlcAudioNext">Change audiotrack</button>
<button class="button-media" data-key="vlcFullscreen">Toggle fullscreen</button>

<script src="/javascripts/controls.js"></script>
